<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
<body>
  <ul>
    <li >
      <a (click)="addProducts()">Add Products</a>
    </li>
    <li>
      <a (click)="showAdminop()">Back</a>
    </li>
  </ul>     
</body>

<br><br>
<div class="search-hero">

    <input style="margin-left: 550px;width: 300px;" [ngClass]="['form-control','fa fa-search']" type="text" name="search" [(ngModel)]="searches" 
        autocomplete="off" placeholder="&#xF002;Search Products">
     
  </div>
<h3><font color="red"> &nbsp;&nbsp;&nbsp;{{errorMessage}}</font></h3>
<div *ngIf="tt">
   <div class="reglist">
       
        <table class="table table-striped">
             <thead>
             <tr>
             <th>Product Name</th>
             <th>Product Price</th>
             <th>Category</th>
             <th>Created Date</th>
             <th>Edit</th>
             <th>Delete</th>
             </tr>
             </thead>
             <tbody>
             <tr *ngFor="let b of branch |filter:searches">
             <td>{{p.prodName}}</td>
             <td>{{p.prodPrice}}</td>
             <td>{{p.category}}</td>
             <td>{{p.prodAddedOn | date}}</td>
             <td *ngIf="products!=null"><button type="button" class="btn btn-info" (click)="editProducts(p.prodId)">Edit</button></td>
             <td *ngIf="products!=null"><button type="button" class="btn btn-danger" (click)="alertConfirmation(p.prodId)">Delete</button></td>
             </tr>
             </tbody>
             </table>
    </div> 